*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    border: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 40px 0;
}

/* Container*/

.main_container {
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}



/* Intro */

.intro {
    background-image: url("../img/intro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 100px;

}

.intro_title {
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.intro_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 40px auto 40px;
}

/* Header */
.header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    z-index:10;
}

.header.header_sticky {
    /* animation: headerSlideDown .95s ease forwards; */
   background-color: rgb(243 129 129/90%) ;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.header_burger {
    display: none;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */

.nav {
    text-transform: uppercase;
    font-size: 14px;

}

.nav_burger {
    margin: 0;
    padding: 0 15px;
    width: 20%;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 0;
    left: 0;

    transition: color .1s linear;
}

.nav_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover::after {
    display: block;
    opacity: 1;
}

/* Button */

.button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: solid 3px #fff;
    border-radius: 15px;
    font-size: 14;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.1s linear, color 0.1s linear;
}

.button:hover {
    background-color: #fff;
    color: #333;
}

/* Slider */

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    opacity: 0.7;
    margin-bottom: 0;
}

.slider_item {
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;
    border-top: 3px solid #fff;
    position: relative;
}

.active {
    opacity: 1;
}

.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    top: -3px;
    left: 0;
    background-color: #f38181;
    position: absolute;
    z-index: 1;
}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}

/* Section */

.section {
    padding: 80px 0;
}

.section_header {
    margin: 0 auto 40px;
    width: 100%;
    text-align: center;

}

.section_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

.section_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;
}

.section_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;

    text-align: center;
    margin: 0 auto;
    max-width: 950px;
}

.section_devices {
    background-image: url("../img/feauture/feauture.jpg");
    background-size: cover;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 0;

}

/* About */

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.container {
    padding: 0 40px;
}
.about_item {
    width: 380px;
    position: relative;

    background-color: #95e1d3;
}

.about_item:hover .about_text {
    opacity: 1;
}

.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0)
}

.about_item:hover .about_img img {
    opacity: .1;
}

.about_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}

.about_img img {
    transition: img .1s linear;
    display: block;
}

.about_text {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    opacity: 0;
    transition: opacity .1s linear;
}

/* Statisctics */

.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
}

.stat_item {
    flex: 1 1 0;
    border-left: 1px #b5eae0 solid;
    border-right: 1px #b5eae0 solid;
    text-align: center;
    padding: 70px 25px;
}

.stat_count {
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.stat_text {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.stat_item:last-child {
    border-right: 1px #b5eae0 solid;
}

/* Service */

.service {
    display: flex;
    margin: 15px 0;
}

.service_item {
    flex: 1 1 0;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;
    width: 380px;
}

.service_img {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
}

.service_title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}

.service_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}

/* Devices */
.section_devices {
    margin-bottom: 150px;
}
.devices {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.devices_item {
    margin-bottom: -85px;
    max-width: 900px;
    margin-right: 10px;
}

.devices_text {
    font-size: 18px;
    font-weight: 400;   
    display: inline-block; 
    width: 25%;
    text-align: left;
    margin-top: 50px;
    order: 2;
}

.devices_img {
    order: 1;
}


/* popup */

.popup_block {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(243 129 129/80%);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .popup_block:target {
    opacity: 1;
    visibility: visible;
    z-index: 15;
  }
  
  .popup_body {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    margin: 0 auto;
  }
  
  .popup__body-inner {
    border: 2px solid #999;
    border-radius: 20px;
    padding: 60px 90px 40px;
    width: 600px;
    background-color: white;
    position: relative;
  }
  .form_title {
    text-align: center;
    margin: 0 0 40px;
    color: #999;
  }
  
  .popup_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .button_send {
      margin:0;
  }
  
  .popup_close {
    position: absolute;
    color: black;
    font-size: 20px;
    right: 20px;
    top: 10px;
    text-decoration: none;
  }
  
  .form_name, .form_email {
    padding: 15px 7px;
    border-radius: 6px;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
    border: 1px solid #999;
    color: #898888;
    font-size: 16px;
  }
  
  .form_textarea {
    padding: 10px 7px;
    border-radius: 6px;
    margin-bottom: 60px;
    letter-spacing: 0.02em;
    border: 1px solid #999;
    color: #898888;
    height: 100px;
    resize: none;
    line-height: 26px;
    font-size: 16px;
  }
  
  .button_send {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 30px;
    border: 1px solid #999;
  }

  .button_send:hover {
    background-color: #fce38a;
  }




@media only screen and (max-width: 1300px) {
    .header_burger {
        display: none;
    }
}

@media only screen and (max-width: 1250px) {
    .header_burger {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .main_container {
        max-width: 1200px;
    }

    .header_burger {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
        line-height: 26px;
    }

    .main_container {
        max-width: 720px;
    }
}


@media only screen and (max-width: 414px) {

    /* Intro block */
    .intro {
        width: auto;
        max-width: 413px;
    }
    .main_container {
        max-width: 413px;
    }

    .header {
        position: absolute;
    }

    .header_inner {
        display: none;
    }

    .header_burger {
        display: block;
        padding: 30px 30px 0;
        width: auto;
    }

    .show .burger_menu {
        display: none;
    }

    .burger_icon {
        margin-left: 87%;
    }
   
    .burger_menu {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    #nav_burger {
        margin: 0;
        padding: 10px 20px;
        width: 100px;
        float: right;
    }
    .nav_link {
        margin: 0 0 3px 0;
    }
    .intro_suptitle {
        font-size: 26px;
        margin-bottom: 65px;
        margin-top: 105px;
    }

    .intro_title {
        font-size: 55px;
    }

    .intro_title::after {
        margin-bottom: 120px;
    }

    .slider {
        display: none;
        margin: 0;
    }

    /* Intro block end */


    /* About block start */
    .container {
        padding: 0 25px;
        max-width: 413px;
    }

    .about {
        width: 250px;
        flex-direction: column;
        margin: 0 auto;
        
    }

    .about_item {
        width: 199px;
        margin: 0 auto 20px;
    }
    .about_img img{
        width: 200px;
    }

    /* About block end */

    /* Statistic block start */

    .stat {
        flex-direction: column;
    }

    .stat_item {
        padding: 30px 15px;
    }

    .stat_item::after {
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        margin: 15px auto 0;
    }

    .stat_count {
        font-size: 35px;
    }
    /* Statistic block end */


    /* Service block start */

    .service {
        flex-direction: column;
    }

    .service_item {
        margin-bottom: 25px;
        max-width: 300px;
        padding-left: 60px;
    }

    .service_img {
        left: 15px;
    }

    hr {
        display: none;
    }

      /* Service block end */

      
      /* Devices block start */

      .devices {
        flex-direction: column;
      }

      .devices_text {
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 0;
      }

      .devices_img {
        order: 2;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
      }

      .devices_item {
        max-width: 150px;
        margin: 25px 0 -2px 0;
        display: block;
      }

      .devices_img .phone {
        max-width: 80px;
        height: 100%;
      }


      
      /* Devices block end */



}


